HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### application.yml ###
**/application.yml

### api ###
**/WEB-INF/views/api/**
footer.jsp
KakaoAuthService.java
MailSender.java
