<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mvc.app.mapper.ApprovalDocMapper">

    <!-- 기안서 등록 (selectKey로 docId를 미리 받아옴) -->
    <insert id="insertDoc" parameterType="com.mvc.app.domain.dto.ApprovalDocDto">
        <selectKey keyProperty="docId" resultType="long" order="BEFORE">
            SELECT approvalDoc_seq.NEXTVAL FROM dual
        </selectKey>
        INSERT INTO approvalDoc (
            docId, docTypeId, title, content, detailData,
            docStatus, writerEmpId, writerEmpName,
            writerDeptCode, writerDeptName,
            writerGradeCode, writerGradeName, regDate
        ) VALUES (
            #{docId}, #{docTypeId}, #{title},
            #{content, jdbcType=VARCHAR},
            #{detailData, jdbcType=VARCHAR},
            #{docStatus}, #{writerEmpId}, #{writerEmpName},
            #{writerDeptCode, jdbcType=VARCHAR},
            #{writerDeptName, jdbcType=VARCHAR},
            #{writerGradeCode, jdbcType=VARCHAR},
            #{writerGradeName, jdbcType=VARCHAR},
            SYSDATE
        )
    </insert>

    <!-- 결재선 등록 -->
    <insert id="insertLine" parameterType="com.mvc.app.domain.dto.ApprovalLineDto">
        INSERT INTO approvalLine (
            lineId, docId, stepOrder,
            apprEmpId, apprEmpName,
            apprDeptCode, apprDeptName,
            apprGradeCode, apprGradeName,
            apprTypeCode, lineStatusCode
        ) VALUES (
            approvalLine_seq.NEXTVAL, #{docId}, #{stepOrder},
            #{apprEmpId}, #{apprEmpName},
            #{apprDeptCode}, #{apprDeptName},
            #{apprGradeCode}, #{apprGradeName},
            'APPROVER', 'PENDING'
        )
    </insert>


    <!-- 참조자 등록 -->
    <insert id="insertRef" parameterType="com.mvc.app.domain.dto.ApprovalRefDto">
        INSERT INTO approvalReference (
            refId, docId, refEmpId, refEmpName,
            refDeptCode, refDeptName,
            refGradeCode, refGradeName
        ) VALUES (
            approvalReference_seq.NEXTVAL, #{docId},
            #{refEmpId}, #{refEmpName},
            #{refDeptCode}, #{refDeptName},
            #{refGradeCode}, #{refGradeName}
        )
    </insert>

	<!-- 첨부파일 -->
    <insert id="insertFile" parameterType="com.mvc.app.domain.dto.ApprovalFileDto">
        INSERT INTO approvalFile (fileId, docId, oriFilename, saveFilename, fileSize, regDate)
        VALUES (approvalFile_seq.NEXTVAL, #{docId}, #{oriFilename}, #{saveFilename}, #{fileSize}, SYSDATE)
    </insert>

</mapper>